*{
    margin: 0;
    padding: 0;
}

.social {
	position: fixed; 
	left: 0; 
	top: 200px;
	z-index: 2000; 
}

	.social ul {
		list-style: none;
	}

	.social ul li a {
		display: inline-block;
		color:#fff;
		background: #000;
		padding: 10px 15px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; 
	}

	.social ul li .icon-facebook {background:#3b5998;}
	.social ul li .icon-twitter {background: #00abf0;}
	.social ul li .icon-instagram {background: #dd4674;}
	.social ul li .icon-pinterest {background: #ae181f;}


	.social ul li a:hover {
		background: #000; 
		padding: 10px 30px; 
    }

    .conteiner img {
        display: flex;

            width: 90%;
            height: 10%;
            border-radius: 5px;
      }
      
      .sidebar {
        width: 185px;
        background-color: #f2f2f2;
        padding: 20px;
      }
      
      .sidebar h2 {
        color: #333;
      }
      
      .sidebar ul {
        list-style-type: none;
        padding: 0;
      }
      
      .sidebar li {
        margin-bottom: 5px;
      }
      
      .content {
        flex-grow: 1;
        padding: 20px;
      }